<template>
<div id="app">
	<header class="header">
		<router-link class="header__settings" to="/settings"></router-link>
		<h1 class="header__main-title">SEREBOROD</h1>
		<div class="header__login">{{ this.$root.login || 'Гость' }}</div>
		<span class="header__hero-name" v-if="this.$root.hero">{{ this.$root.hero.name }}</span>
		<span class="header__hero-level" v-if="this.$root.hero">[{{ this.$root.hero.level }}]</span>
	</header>
	<router-view/>
</div>
</template>

<script>
export default {
	name: 'app'
}
</script>

<style>
@import './assets/styles.scss';
h1 {
	margin: 0;
}
header {
	display: flex;
	align-items: center;
}
</style>
