<template>
<main class="lobby">
	<ul v-for="battle in open_battles">
		<li>
			<header>Битва №{{ battle.id }}</header>
			<div class="side one">
				{{ battle.heroes | heroes }}
				<button v-if="current_battle_id == null" @click="join(battle.id)">Присоединиться</button>
				<button v-if="current_battle_id && current_battle_id == battle.id" @click="leave(battle.id)">Покинуть</button>
			</div>
		</li>
	</ul>
	<div>
		<button v-if="current_battle_id == null" @click="create">Создать</button>
	</div>
</main>
</template>

<script>
import sereborod from '../assets/sereborod.js';

export default {
	data() {
		return {
			arena: null,
			open_battles: [],
			current_battle_id: null,
			current_hero: null
		};
	},
	head() {
		return { title: 'Лобби' };
	},
	filters: {
		heroes(data) {
			return data.length > 0 ? data.map(m => JSON.stringify(m)).reduce((a, b) => a + ', ' + b) : '???';
		}
	},
	methods: {
		async join(battle_id) {
			await this.arena
				.emit('battle/join', { id: battle_id })
				.then(battle => {
					if(battle.status === 'active')
						return this.$router.push('/game/' + battle.port);
					let index = this.open_battles.findIndex(b => b.id === battle.id);
					if (index >= 0) this.open_battles[index] = battle;
				});
		},
		async create() {
			this.arena
				.emit('battle/create', { params: {}, mode: 'default' })
				.then(battle => {
					this.current_battle_id = battle.id;
					this.open_battles.push(battle);
				})
				.catch(e => alert(e));
		},
		async leave(battle_id) {
			await this.arena.emit('battle/leave', { id: battle_id });
		},
		async get_all() {
			this.open_battles = await this.arena.emit('battle/status/open');
			this.current_battle_id = await this.arena.emit('hero/battle/current_id');
		}
	},
	async mounted() {
		//this.current_hero = this.sereborod.storage.get('hero');
		this.arena = await sereborod.arena();

		if (this.$root.battle != null && this.$root.battle.status == 2)
			return this.$router.push('/game');
			
		this.get_all();

		this.arena.on('battle/change', battle => {
			if(this.current_battle_id == battle.id && battle.status === 'active')
				return this.$router.push('/game/' + battle.port);
			let index = this.open_battles.findIndex(b => b.id === battle.id);
			if (index >= 0) this.open_battles[index] = battle;
			else this.open_battles.push(battle);
		});
		
		this.arena.on('battle/remove', battle => {
			if(this.current_battle_id == battle.id)
				this.current_battle_id = null;
			this.open_battles.splice(this.open_battles.findIndex(b => b.id == battle.id), 1);
		});

		this.arena.on('battle/create', battle => {
			this.open_battles.push(battle);
		});
	},
	ssr: false
};
</script>