<template>
<div>
	<button @click="select('34_a39fc96f-8914-4fbd-a709-005bf7ba2c0a', 'Дурик', 36)">Войти под Дуриком</button>
	<button @click="select('33_61abae88-b55e-487d-bba3-88f31f3b7ade', 'Лемур', 33)">Войти под Лемуром</button>
</div>
</template>
<script>
export default {
	methods: {
		select(token, name, hero_id) {
		
			this.$root.uid = Math.floor(Math.random()*1000);
			this.$root.token = token;
			this.$root.login = name + "@gmail.com";
			this.$root.heroes_limit = 1;
			this.$root.hero = { name: name, level: 4, id: hero_id };
			
			this.$nextTick(() => { this.$router.push('/game/7777') });
		}
	}
}
</script>