<template>
<main>
	<template v-if="!battle">
	Бой здесь будет совсем скоро уже
	</template>
	<template v-else>
		<div class="battle-panel">
			<ul class="hero-set --first"  :class="{ '--one_player': first_side.length == 1, '--three_players': first_side.length == 3, '--five_players': first_side.length > 3 }">
				<Hero class="hero" v-for="hero in first_side" @click.native="click_hero(hero)" :class="{ '--selectable': hero.selectable, '--non-selectable': !hero.selectable && action == 'select_target' }" :value="hero" :key="hero"/>
			</ul>
			<ul class="hero-set --second" :class="{ '--one_player': second_side.length == 1, '--three_players': second_side.length == 3, '--five_players': second_side.length > 3 }">
				<Hero class="hero" v-for="hero in second_side"  @click.native="click_hero(hero)" :class="{ '--selectable': hero.selectable, '--non-selectable': !hero.selectable && action == 'select_target' }" :value="hero" :key="hero"/>
			</ul>
			<ul class="hero-set --third" :class="{ '--one_player': third_side.length == 1, '--three_players': third_side.length == 3, '--five_players': third_side.length > 3 }">
				<Hero class="hero" v-for="hero in third_side" @click.native="click_hero(hero)" :class="{ '--selectable': hero.selectable, '--non-selectable': !hero.selectable && action == 'select_target' }" :value="hero" :key="hero"/>
			</ul>
			<!-- <canvas class="log"></canvas> -->
			<div class="hero-panel" :class="{ '--centered': action == 'wait' || !current_hero.alive }">
				<!-- <Vial color="maroon" v-model="current_hero.health" :max="current_hero.max_health"/> -->
				<div class="hero-panel__middle" v-if="action != 'wait' && current_hero.alive">
					<header class="current-round">Раунд №{{ battle.current_round }}</header>
					<div class="slotn-panel">
						<button class="slotn-panel__button" @click="reset" v-if="action == 'idle'">Сбросить</button>
						<div class="slotn-panel__slots">
							<ul class="slots">
								<li class="slot" @click="reset" v-for="(slot, index) in slots" :class="{ '--main': index >= 2 && index <= 4 }" :key="index">
									<img v-if="slot" :src="'/static/skills/actives/' + (slot.skill.id || 'closed') + '.png'"/>
									<img v-if="!slot && index >= 2 && index <= 4" :src="'/static/skills/actives/empty.png'"/>
								</li>
							</ul>
							<div v-if="action == 'select_target'" class="slotn-panel__action-overlay"></div>
							<div v-if="action == 'select_target'" class="slotn-panel__action">
								<span>Выберите цель</span>
								<button class="slotn-panel__button" @click="cancel">Отмена</button>
							</div>
						</div>
						<button class="slotn-panel__button" @click="end_turn" v-if="action == 'idle'">Конец хода</button>
					</div>
					<ul class="skill-set">
						<li class="skill" v-for="skill in current_hero.active_skills" @click="choose_target(skill, $event)" :key="skill">
							<div class="skill__description" v-if="action == 'idle'">
								<header><span class="skill__name">{{ skill | active_skill_name }}</span> <i class="skill__level" v-for="i in skill.level" :key="i">●</i></header>
								<div :inner-html.prop="skill | active_skill_description"></div>
								<ul class="params">
									<li class="params__energy"><img src="/static/skills/energy.png"/> {{ skill.mana_cost }}</li>
									<li class="params__cooldown"><img src="/static/skills/hourglass.png"/> {{ skill.cooldown }}</li>
									<li class="params__action-points"><img src="/static/skills/square.png" v-for="i in skill.action_points" :key="i"/></li>
								</ul>
							</div>
							<img class="skill__icon" :src="'/static/skills/actives/' + skill.id + '.png'"/>
							<!-- <span>{{ skill | active_skill_name }}</span> -->
						</li>
						</ul>
					<ul class="skill-set">
						<li class="skill --small" v-for="skill in current_hero.passive_skills" :key="skill.id">
							<img class="skill__icon" :src="'/static/skills/passives/' + skill.id + '.png'"/>
							<!-- <span>{{ skill | passive_skill_name }}</span> -->
						</li>
					</ul>
				</div>
				<div v-if="!current_hero.alive" class="hero-panel__death">
					<span>Вы пали в бою, ожидайте своей участи</span>
				</div>
				<div v-if="action == 'wait'" class="hero-panel__action">
					<span>Ожидайте завершения хода</span>
				</div>
				<!-- <Vial color="#7575b7" v-model="current_hero.energy" :max="current_hero.max_energy"/> -->
			</div>
		</div>
	</template>
</main>
</template>

<script>
import sereborod from '../assets/sereborod.js';
import locale from '../assets/ru-locale.js';
import * as Victor from 'victor';
import utils from '../assets/utils.js';

import Vue from 'vue';
import Vial from '../components/_vial.vue';
import Hero from '../components/_hero.vue';

export default {
	data() {
		return {
			$battle: null,
			battle: null,
			slots: new Array(7).fill(null),
			action: 'idle', //idle/normal, select_target
			target_skill: null,
			overArrow: null,
		};
	},
	components: {
		Vial,
		Hero,
	},
	computed: {
		current_hero() {
			return this.battle.heroes.find(f => f.id === this.$root.hero.id);
		},
		main_slots() {
			return this.slots.slice(2, this.slots.length - 2);
		},
		first_side() {
			return this.battle.heroes.filter(h => h.side == 1)
		},
		second_side() {
			return this.battle.heroes.filter(h => h.side == 2)
		},
		third_side() {
			return this.battle.heroes.filter(h => h.side == 3)
		},
	},
	filters: {
		active_skill_name(skill) {
			return locale.active_skills.find(f => f.id == skill.id).name;
		},
		active_skill_description(skill) {
			return utils.skill_description(skill, locale.active_skills.find(f => f.id == skill.id).description);
		},
		passive_skill_name(skill) {
			return locale.passive_skills.find(f => f.id == skill.id).name;
		},
		passive_skill_description(skill) {
			return utils.skill_description(skill, locale.passive_skills.find(f => f.id == skill.id).description);
		},
	},
	methods: {
		r() {
			return Math.rand();	
		},
		choose_target(skill, { currentTarget }) {
			this.overArrow.stop();
			this.overArrow.start(currentTarget); //currentTarget - это элемент дерева DOM, а не игровой
			this.action = 'select_target';
			this.target_skill = skill;

			//let available_targets;
			skill.targets.forEach((target) => {
				switch(target.target_type) {
					case 0: 
						this.battle.heroes.filter(h => h.alive && h.side != this.current_hero.side).forEach((h) => {
							//h.selectable = true;
							Vue.set(h, 'selectable', true);
						});
						break;
				}
			});	
		},
		set_slot(active_skill, target) {
			let free = this.main_slots.filter(f => !f).length;
			//alert('free: ' + free + ' | aps: ' + active_skill.action_points + ' | ' + JSON.stringify(this.main_slots));
			if(active_skill.action_points <= free) {
				this.slots.splice(5 - free, 1, { skill: active_skill, target });
				if(active_skill.action_points == 2) 
					this.slots.splice(5 - free + 1, 1, { skill: { id: 'closed' } });
				else if(active_skill.action_points == 3) {
					this.slots.splice(5 - free + 1, 1, { skill: { id: 'closed' } });
					this.slots.splice(5 - free + 2, 1, { skill: { id: 'closed' } })
				}
			}
		},
		reset() {
			[2, 3, 4].forEach(s => this.slots.splice(s, 1, null));
			this.$forceUpdate();
		},
		cancel() {
			this.overArrow.stop();
			this.action = 'idle';
		},
		async end_turn() {
			if(await this.$battle.emit('set_slots', this.main_slots.map(s => s && s.skill && Number.parseInt(s.skill.id) ? { skill_id: s.skill.id, targets: [[s.target.id]] } : null)) == 'ok') 
				this.action = 'wait';
		},
		click_hero(hero) {
			if(this.action == 'select_target') {
				if(!hero.selectable) return this.cancel();
				
				//alert('выбрали' + hero.name);
				this.overArrow.stop();
				this.set_slot(this.target_skill, hero);
				this.target_skill = null;
				this.battle.heroes.forEach(h => h.selectable = false);
				this.action = 'idle';
			}
		},
	},
	async mounted() {
		this.$battle = await sereborod.battle(this.$route.params.port);
		this.$battle.on('battle/next/round', (battle) => {
			//Vue.set(this, 'battle', battle);
			this.battle.current_round = battle.current_round;
			this.battle.is_end = battle.is_end;
			this.battle.heroes = battle.heroes;
			this.reset();
			this.action = 'idle';
		});
		this.battle = await this.$battle.emit('get_battle');

		this.overArrow = (function (over_arrow_element) {
			return {
				_canvas: over_arrow_element,
				_context2d: over_arrow_element.getContext('2d'),
				_draw(from_one, from_two, to) {
					this._canvas.width = this._canvas.offsetWidth;
					this._canvas.height = this._canvas.offsetHeight;
					
					let dist =  from_one.distance(to);
					
					let c = this._context2d;
					
					c.fillStyle = '#235423';
	
					c.beginPath();
					c.lineWidth = 1;
					c.moveTo(from_one.x, from_one.y);
					c.lineTo(from_two.x, from_two.y);
					c.lineTo(to.x, to.y);
					c.lineTo(from_one.x, from_one.y);
					c.closePath();
					c.fill();

					/*let angle = Math.acos((to.y - from_one.y) / dist);
					if(to.x < from_one.x) angle = 2 * Math.PI - angle;

					c.translate(to.x, to.y);	
					c.rotate(-angle);

					c.beginPath();
					c.moveTo(0, 0);
					c.lineTo(-20, -15);
					c.lineTo(20, -15);
					c.lineTo(0, 0);
					c.closePath();
					c.fill();

					c.restore();*/
				},
				_clear() {
					this._context2d.clearRect(0, 0, this._canvas.width, this._canvas.height);
				},
				start(element) {
					let { left, top, width } = element.getBoundingClientRect();
					
					this._mouse_event_listener = (e) => {
						this._draw(new Victor(left, top), new Victor(left + width, top), new Victor(e.pageX, e.pageY));
					};
					document.addEventListener('mousemove', this._mouse_event_listener);
				},
				stop() {
					document.removeEventListener('mousemove', this._mouse_event_listener);
					this._clear();
				},
			}
		})($('<canvas class="overArrow" ref="overArrow"/>').appendTo('body').get(0));
	},
};
</script>

<style lang="scss">
	#app > .header {
		display: none;
	}
	body, main {
		background-color: #212830;
		height: 100%;
		cursor: url('/static/Arrow.cur'), auto;
	}
	button {
		cursor: url('/static/Arrow_Down.cur'), auto;
	}

	.hero-set {
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding: 10px;

		&.--two_players {
			.hero {
				font-size: 1.6em;
			}
		}

		&.--three_players {
			.hero {
				font-size: 1.2em;
			}
			.hero__health, .hero__energy {
				font-size: 1.2em;
			}
		}

		&.--five_players {
			.hero {
				font-size: 1.2em;
			}
		}
	}
	.skill-set {
		display: flex;
		flex-direction: row;
		justify-content: center;
		.skill {
			width: 64px;
		}
	}
	.skill {
		$this: &;

		display: flex;
		flex-direction: row;
		align-items: center;

		color: white;
		background-color: gray;
		font-size: 16px;
		font-weight: bold;
		margin: 0 5px;
		cursor: url('/static/Arrow_Down.cur'), pointer;
		
		border-radius: 3px;
		text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
		border: 1px solid #0b1319;
		box-shadow: 0 2px 4px rgba(0,0,0,0.4), 0 1px 0 rgba(255,255,255,0.2) inset;
		
		position: relative;

		&.--small {
			width: 125px;
			font-size: 12px;
			img {
				width: 24px;
			}		
		}
		&__description {
			opacity: 0.9;

			display: none;
			position: absolute;

			color: white;
			background-color: #a5a4a4; //background-color: gray | #bdbcbc; 
			font-size: 16px;
			font-weight: bold;

			//cursor: pointer;
			
			border-radius: 3px;
			text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
			border: 1px solid #0b1319;
			box-shadow: 0 2px 4px rgba(0,0,0,0.4), 0 1px 0 rgba(255,255,255,0.2) inset;

			width: 350px;
			//height: 100px;

			padding: 5px 10px;
			bottom: 100%; //top | bottom: 100%;
			
			z-index: 100;

			.params {
				display: flex;
				flex-direction: row;
				justify-content: flex-start;

				&__energy {
					display: flex;
    				align-items: center;
					margin-right: 5px;
				}

				&__cooldown {
					display: flex;
    				align-items: center;
					margin-right: 2px;
				}			

				&__action-points {
					display: flex;
    				align-items: center;

					> img {
						margin-left: 3px;
					}
				}
			}

			.param {
				color: #3a3030;
				text-shadow: none;
			}
		}

		&__name {
			text-decoration: underline;
		}

		&:hover {
			#{$this}__description {
				display: block;
			}
			box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.8);
		}
	}
	.slots {
		display: flex;
		flex-direction: row;
		justify-content: center;
		margin: 0;
	}

	.slot {
		border: 2px dashed black;
		width: 64px;
		height: 64px;
		margin: 0 2px;
		border-radius: 5px;
		box-sizing: border-box;
		cursor: url('/static/Remove.cur'), pointer;

		&.--main {
			border-style: outset;
		}
		img {
			width: 100%;
		}
	}
	
	.overArrow {
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		padding: 0;
		margin: 0;
		pointer-events: none; /* Обязательная строка! */
		/* background-color: #ba8fbc; */
		display: table;
	}

	.hero-panel {
		grid-row: 2;
		grid-column: 1;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: flex-end;
		&__middle {
			display: flex;
			align-items: center;
			flex-direction: column;
		}
		&__action {
			border-top: 1px solid #c5bf78;
			border-bottom: 1px solid #c5bf78;
			padding: 15px 0;
			font-size: 28px;
			text-shadow: -1px -1px #6f6969, 0 1px 0 #fffdb3;
			font-weight: bold;
			color: #ceca9b;
		}
		&__death {
			border-top: 1px solid #792424;
			border-bottom: 1px solid #792424;
			padding: 15px 0;
			font-size: 28px;
			text-shadow: -1px -1px #6f6969, 0 1px 0 #a27d7d;
			font-weight: bold;
			color: #5a1e1e;
		}
		&.--centered {
			flex-direction: column;
    		align-items: center;
		}
	}

	.battle-panel {
		grid-row: 1;
		grid-column: 1;
		background-color: #212830; //lightgray
		display: grid;
		grid-template-columns: 200px auto 200px;
		grid-template-rows: 200px auto;
		width: 100%;
		//height: 70px;
		margin: 0 auto;
		.--first {
			grid-column: 1;
			grid-row: 2;
			flex-direction: column;
			.hero {
				width: 100%;
			}
			.hero:before {
				content:'';
				padding-top:50% 0; /* vertical value as  100% equals width */
				float: left;
			 	display:inline-block;
			}
		}
		.--second {
			grid-column: 3;
			grid-row: 2;
			flex-direction: column;
			.hero {
				width: 100%;
			}
			.hero__last-slots {
				left: auto;
				right: 100%;
			}
		}
		.--third {
			grid-column: 2;
			grid-row: 1;
			flex-direction: row;
			.hero {
				height: 100%;
			}
			.hero__last-slots {
				height: auto;
				width: 100%;
				left: 0;
				top: 100%;
				.hero-slot {
					float: left;
					height: auto;
					width: 33.3%;
					margin: 2px 0;
				}
			}
		}
		.--third:empty {
			display: none;
		}
		.log, .hero-panel {
			grid-column: 2;
			grid-row: 2;
			width: 100%;
			height: 100%;
		}
		
	}

	.slotn-panel {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		&__slots {
			position: relative;
		}
		&__button {
			border: 1px solid #0b1319;
			background-color: #a5a4a4;
			border-radius: 3px;
			font-size: 15px;
			text-transform: uppercase;
    		//font-weight: bold;
			font-family: Courier;
			padding: 2px 0;
			//cursor: pointer;
			&:hover {
				text-shadow: black 0px 1px;
				border-color: #1f5577;
				background-color: #1F7FBB;
			}
		}
		&__action-overlay {
			position: absolute;
			background-color: #4783c1;
			width: 100%;
			height: 100%;
			top: 0;
			opacity: 0.5;
		}
		&__action {
			position: absolute;
			border-top: 1px solid #a5a9bb;
			border-bottom: 1px solid #a5a9bb;
			padding: 15px 0;
			font-size: 28px;
			text-shadow: -1px -1px #6f6969, 0 1px 0 #ffffff;
			font-weight: bold;
			color: #9fb6c7;
			top: 0;
			width: 100%;
			text-align: center;
		}	
	}

	.current-round {
		font-size: 28px;
		font-weight: bold;
		text-transform: uppercase;
		color: #849ebb;
	}

	#test {
  background:red;
  margin:auto;
  text-align:center;
}
// #test{
//   width: 100%;
// }
// #test:before{
//   content:'';
//   padding:50% 0;/* vertical value as  100% equals width */
//   display:inline-block;
//   vertical-align:middle; /* or whatever */
// }

	main {
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: auto 250px;
	}
</style>