<template>
	<main class="centered">
		<form class="centered">
			<p>Добро пожаловать,
				<span class="nowrap">{{ $root.name }}</span>
			</p>
			<router-link to="/logout">Выход</router-link>
			<ul>
				<li v-for="hero in heroes">
					<a @click="select(hero)" href="#">{{ hero.name }} {{ hero.class }} [{{ hero.level }}]</a>
				</li>
			</ul>
			<div>Всего {{ heroes.length }} / {{ heroes_limit }}</div>
			<router-link v-if="heroes.length < heroes_limit" to="/hero/create">Создать героя</router-link>
			<p v-else>Больше героев<br/>создавать нельзя!</p>
		</form>
	</main>
</template>

<script>
import sereborod from '../assets/sereborod.js';

export default {
	data() {
		return {
			heroes: [],
			heroes_limit: this.$root.heroes_limit,
		};
	},
	head() {
		return { title: 'Выбор героя' };
	},
	methods: {
		async select(hero) {
			try {
				this.$root.hero = await sereborod.person('hero/select', { id: hero.id });
				this.$router.push('/arena');
			} catch(err) {
				alert(err);
			}
		},
	},
	async mounted() {
		try {
			console.log('30');
			this.heroes = await sereborod.person('hero/list');
			console.log('40');
		} catch (err) {
			alert(err);
		}
	},
};
</script>