<template>
<main class="centered">
	<form v-on:submit.prevent>
		<label>
			<span>Имя героя</span>
			<input type="text" v-model="form.name"/>
		</label>
		<label>
			<span>Класс</span>
			<select v-model="form.class">
				<option value="gladiator">Гладиатор</option>
				<option value="maroder">Мародёр</option>
				<option value="fanatik">Фанатик</option>
			</select>
		</label>
		<label>
			<input @click="create" type="submit" value="Создать"/>
		</label>
	</form>
</main>
</template>

<script>
export default {
	title: 'Выбор героя',
	data() {
		return {
			form: {
				name: '',
				class: ''
			},
		};
	},
	head() {
		return { title: 'Создать нового героя' };
	},
	methods: {
		async create() {
			try {
				await this.sereborod.person('hero/create', this.form);
				this.$router.push('/hero/list');
			} catch(err) {
				alert(err);
			}
		}
	},
};
</script>