<template>
	<section class="container">
		<div>
			<h1 class="title">
				Заголовок
			</h1>
			<h2 class="subtitle">
				Описание
			</h2>
			<div class="links">
				<router-link to="/login">Войти в игру</router-link>
			</div>
		</div>
	</section>
</template>

<script>
export default {

};
</script>

<style>
.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; /* 1 */
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}
</style>
