<template>
<main class="centered">
	<form v-on:submit.prevent>
		<label>Логин:<input type="text" v-model="form.login" name="login"/></label>
		<label>Пароль:<input type="password" v-model="form.password" name="password"s/></label>
		<label><input @click="submit" type="submit" value="Вход"/></label>
		<label><router-link to="/register">Регистрация</router-link></label>
	</form>
</main>
</template>

<script>
import sereborod from '../assets/sereborod.js';

export default {
	title: 'Вход',
	data() {
		return {
			form: {
				login: '',
				password: '',
			},
		};
	},
	methods: {
		async submit() {
			try {
				let data = await sereborod.person('login', this.form);

				this.$root.uid = data.uid;
				this.$root.token = data.token;
				this.$root.name = data.name;
				this.$root.heroes_limit = data.heroes_limit;
				
				this.$nextTick(() => { this.$router.push('/hero/list') });
			} catch(err) {
				alert(err);
			}
		},
	},
	mounted() {
	},
};
</script>