<template>
<main class="centered">
	Производится выход...
</main>
</template>

<script>
import sereborod from '../assets/sereborod.js';

export default {
	mounted() {
		sereborod.person('logout');
		this.$root.quit();
		this.$router.replace('/login');
	},
};
</script>