<template>
    <main class="centered">
        <form ref="form" method="post" action="/register" v-on:submit.prevent>
            <label>Идентификатор сессии:<input style="background-color: lightgray; border: 0;" readonly type="text" name="identifier" v-model="form.identifier" /></label>
            <label>Имя:<input type="text" name="name" v-model="form.name" /></label>
            <label>Логин:<input type="text" name="login" v-model="form.login" /></label>
            <label>Почта:<input type="text" name="email" v-model="form.email" /></label>
            <label>Пароль:<input type="password" name="password" v-model="form.password" /></label>
            <label><img id="captcha" :src="captcha" />Капча:<input type="text" name="token" v-model="form.token" /></label>
            <label><input @click="submit" type="submit" value="Регистрация" /></label>
        </form>
    </main>
</template>

<<script>
export default {
	data() {
		return {
			form:{
				identifier: '',
				name: '',
				login: '',
				email: '',
				password: '',
				token: '',
			},
			captcha: null,
		};
	},
	methods: {
		async submit() {
			try {
				let data = await this.sereborod.person('register', this.form);
				
				this.$root.uid = data.uid;
				this.$root.token = data.token;
				console.log('10');
				this.$root.name = data.name;
				this.$root.heroes_limit = data.heroes_limit;
				console.log('20');
				this.$router.push('hero/list');
			} catch (err) {
				alert(err);
				this.get_captcha();
			}
		},
		async get_captcha() {
			let data = await sereborod.person('register/captcha');
			this.captcha = 'data:image/png;base64,' + data.captcha;
			this.form.identifier = data.identifier;
		},
	}, 
	mounted: async function() {
		await this.get_captcha();
	},
};
</script>