<template>
    <main class="centered">
		<div class="refresh" @click="load"></div>
        <div class="servers">
			<div v-if="contexts" v-for="context in contexts" class="server" :class="{ fail: context.server.status == 0, ok: context.server.status != 0 }">
				<span class="server__port">{{ context.server.port || '' }}</span>
				<span class="server__server-name">--[[{{ context.server.server_name }}]]--</span>
				<span class="server__start-time">{{ context.server.start_time | date }}</span>
				<span class="server__online-heroes" v-if="context.server.status != 0">Online {{ context.server.online_heroes || 0 }}</span>
				<span class="server__online-heroes-fail" v-else>Сервер не отвечает</span>
				<ul class="server__heroes">
					<li v-for="hero in context.heroes">[{{ hero.level }}]{{ hero.name }}</li>
				</ul>
				<div class="server__context" :title="JSON.stringify(context)">߷</div>
			</div>
		</div>
    </main>
</template>

<script>
import sereborod from '../assets/sereborod.js';

export default {
	layout: 'empty',
	data() {
		return { contexts: [] };
	},
	filters: {
		date(value) {
			if (value) return new Date(value).toLocaleString();
			else return new Date().toLocaleString();
		}
	},
	methods: {
		async load() {
			this.contexts = await sereborod.person('status');
		}
	},
	mounted() {
		this.load();
	},
	ssr: false
};
</script>

<style lang="scss">
.servers {
	background-color: black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	.server {
		color: white;
		width: 400px;
		padding: 15px 25px;
		box-sizing: border-box;
		display: grid;
		grid-template-columns: auto 50px;
		grid-template-rows: 50px auto;
		margin: 10px;
		position: relative;
		&__port {
			grid-column: 2;
			grid-row: 1 / span 2;
			justify-content: center;
			align-items: center;
			display: flex;
			font-size: 28px;
		}
		&__server-name {
			text-transform: uppercase;
			grid-column: 1;
		}
		&__start-time {
			grid-column: 1 / 2;
			grid-row: 2;
		}
		&__online-heroes,
		&__online-heroes-fail {
			position: absolute;
			font-size: 12px;
			bottom: 0;
			right: 2px;
		}
		&__online-heroes {
			background-color: green;
		}
		&__online-heroes-fail {
			background-color: maroon;
		}
		&.fail {
			background-color: #b72d2d;
		}
		&.ok {
			background-color: #3d884d;
		}
		&__heroes {
			background-color: #57af57;
			position: absolute;
			font-size: 12px;
			top: 0;
			right: -110px;
			width: 110px;
			margin: 0;
			padding: 2px;
			box-sizing: border-box;
			height: 100%;
		}
		&__context {
			background-color: #396f35;
			position: absolute;
			font-size: 24px;
			top: 0;
			left: -40px;
			width: 40px;
			margin: 0;
			padding: 2px;
			box-sizing: border-box;
			height: 40px;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			line-height: 1px;
		}
	}
}

.refresh {
	position: fixed;
	background-color: #004b80;
	top: 10px;
	right: 10px;
	color: white;
	padding: 5px 10px;
	font-size: 24px;
	cursor: pointer;
}

body, #__nuxt, main {
	background-color: black;
	height: 100%;
}
</style>