<template>
<li ref="hero" class="hero">
	<div class="hero__name">{{ hero.name }}</div>
	<img class="hero__image" src="/static/hero.jpg"/>
	<img v-if="!hero.alive" class="hero__death" src="/static/skull.svg"/>
	<div v-if="hero.alive" class="hero__health">{{ hero.health }}/{{ hero.max_health }}</div>
	<div v-if="!hero.alive" class="hero__end-health"><span>{{ hero.health }}</span></div>
	<div v-if="hero.alive" class="hero__energy">{{ hero.energy }}/{{ hero.max_energy }}</div>
	<ul v-if="hero.alive" class="modifiers"><li class="modifier"><img class="modifier__icon" src="/static/skills/modifiers/1.png"/></li></ul>
	<ul class="hero__last-slots"><li class="hero-slot"><img src="/static/skills/actives/1.png" class="skill__icon"></li><li class="hero-slot"><img src="/static/skills/actives/1.png" class="skill__icon"></li><li class="hero-slot"><img src="/static/skills/actives/1.png" class="skill__icon"></li></ul>
</li>
</template>

<script>
export default {
	props: ['value', 'align'],
	data() {
		return {
			hero: this.value,
		};
	},
	watch: {
		
	},
	methods: {
		
	},
	mounted() {
		
	},
}
</script>

<style lang="scss">
.modifiers {
	position: absolute;
	top: 50px;
}

.modifier {
	border-radius: 15px;
	border: 3px solid black;
	display: block;
	width: 24px;
	height: 24px;
	&__icon {
		width: 100%;
		height: 100%;
	}
	opacity: 0.9;
}

.hero {
	border: 1px solid gray;
	display: block;
	box-sizing: border-box;
	position: relative;

	max-width: 100%;

	opacity: 0.9;

	&__health {
		color: white;
		background-color: maroon;
		position: absolute;
		bottom: 0;
		left: 0;
		// font-size: 12px;
		// font-size: 75%;
		font-size: 1.4em;
	}
	&__energy {
		color: white;
		background-color: darkblue;
		position: absolute;
		bottom: 0;
		right: 0;
		// font-size: 12px;
		// font-size: 75%;
		font-size: 1.4em;
	}
	&__image {
		width: 100%;
		height: 100%;
	}
	// &.--can-select {
	// 	border-color: gold;
	// }
	&__name {
		position: absolute;
		color: whitesmoke;
		font-size: 1.6em;
		word-break: break-all;
	}
	&.--non-selectable {
		opacity: 0.3;	
	}
	// &.--selectable {
	// 	opacity: 1;	
	// }
	&.--selectable {
		cursor: url('/static/GreenArrow.cur'), auto;
	}
	&.--selectable:hover {
		border: 1px solid green;
		border-radius: 5px;
		box-shadow: 0px 0px 40px rgba(0, 128, 0, 0.8);
	}
	&__last-slots {
		position: absolute;
		top: 0;
		left: 100%;
		height: 100%;
	}
	&__death {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		opacity: 0.5;
	}
	&__end-health {
		position: absolute;
		bottom: 5px;
		width: 100%;
		text-align: center;
		font-weight: bold;
		font-size: 24px;
		span {
			background-color: maroon;
			padding: 0 15px;
			opacity: 0.4;
			color: white;
		}
	}
	.hero-slot {
		display: block;
		border: 1px dashed black;
		height: 33.3%;
		margin: 0 2px;
		border-radius: 5px;
		box-sizing: border-box;
		img {
			height: 100%;
		}
		// &:before {
		// 	content:'';
		// 	padding-top:50% 0; /* vertical value as  100% equals width */
		// 	float: left;
		//  	display:inline-block;
		// }
	}
}
</style>