<template>
<canvas ref="vial" class="vial">
	<!--<div class="circle-indicator__liquid">{{ value }} / {{ max }}</div>-->
</canvas>
</template>

<script>
import * as BABYLON from 'babylonjs';

export default {
	props: ['value', 'max', 'color'],
	data() {
		return {
			engine: null,
		};
	},
	watch: {
		value() {
			this.redraw();
		},
	},
	methods: {
		to_rads(degrees) {
			return degrees * Math.PI / 180;
		},
		redraw() {
			let magic = 90 - this.value / this.max *  180;

			let c = this.$refs.vial.getContext('2d');

			c.translate(50, 50);

			c.beginPath();
			c.fillStyle = this.color;
			c.arc(0, 0, 49, this.to_rads(magic), this.to_rads(180 - magic));
			c.closePath();
			c.fill();

			c.beginPath();
			c.fillStyle = 'black';
			c.arc(0, 0, 50, 0, 2 * Math.PI);
			c.closePath();
			c.stroke();
		}
	},
	mounted() {
		let canvas = this.$refs.vial;

		canvas.width = 100;
		canvas.height = 100;
		
		this.redraw();

// 		let canvas = this.$refs.vial;
// 		let engine = new BABYLON.Engine(canvas, false);
//         let scene = new BABYLON.Scene(engine);
//         let camera = new BABYLON.ArcRotateCamera("Camera", 0, Math.PI / 2, 10, BABYLON.Vector3.Zero(), scene);
// 		camera.attachControl(canvas);
	
// 		let vertexShader = `
// 			precision highp float;

// // Attributes
// attribute vec3 position;
// attribute vec3 normal;
// attribute vec2 uv;

// // Uniforms
// uniform mat4 worldViewProjection;

// // Varying
// varying vec4 vPosition;
// varying vec3 vNormal;

// void main() {

//     vec4 p = vec4( position, 1. );

//     vPosition = p;
//     vNormal = normal;

//     gl_Position = worldViewProjection * p;

// }`;

// 		let fragmentShader = `

// uniform sampler2D diffuseMap;
// uniform sampler2D duDvMap;

// void main(void) {
// 	vec2 source = vec2(1, 1);

//     source.y -= 2.0 / 512.0;
//     source.y = max(source.y, 0.0);

//     source.x += 2.0 / 512.0;
//     float4 right = (texture2D(duDvMap, source) * 2.0) - 1.0;
                                
//     source.x -= 4.0 / 512.0;                                 
// 	source.y = max(source.x, 0.0);
	
// 	float4 left = (texture2D(duDvMap, source) * 2.0) - 1.0;
// 	source.y += 4.0 / 512.0;
	
// 	float4 left2 = (texture2D(duDvMap, source) * 2.0) - 1.0;
// 	source.x += 4.0 / 512.0;
	
// 	float4 right2 = (texture2D(duDvMap, source) * 2.0) - 1.0;
	
// 	float4 middle = right / 4.0 + left / 4.0 + right2 / 4.0 + left2 / 4.0;

//     float2 coord = middle.rg;
//     coord.x = coord.x / 4.0;
// 	coord.y = coord.y / 2.0;
	
//     vec3 base = texture2D(duDvMap, coord).rgb;

//     gl_FragColor = vec4( base, 1. );
// }`;

// 		BABYLON.Effect.ShadersStore["customVertexShader"]= vertexShader;
// 		BABYLON.Effect.ShadersStore["customFragmentShader"]= fragmentShader;

// 		let amigaMaterial = new BABYLON.ShaderMaterial("diffuseMap", scene, {
// 			vertex: 'custom',
//             fragment: 'custom',
//         }, {
//             attributes: ["position", "uv", "source"],
//             uniforms: ["worldViewProjection"]
//         });
//         amigaMaterial.setTexture("diffuseMap", new BABYLON.Texture("/static/diffuse-map.jpg", scene));
// 		amigaMaterial.setTexture("duDvMap", new BABYLON.Texture("/static/du-dv-map.jpg", scene));

// 		let sphere = BABYLON.Mesh.CreateSphere("Sphere", 16, 5, scene);
// 		sphere.material = amigaMaterial;

// 		engine.runRenderLoop(function () {
//             sphere.rotation.y += 0.05;
//             scene.render();
// 		});

// 		this.engine = engine;
	}
}
</script>

<style lang="scss">
.vial {
	$this: &;
	//background-color: black;
	width: 100px;
	height: 100px;
	
	&__liquid {
		background-color: gray;
	}

	&.--red {
		& > #{$this}.__liquid {
			background-color: maroon;
		}
	}	
}
</style>